.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 80px 0 24px 0;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.footer-column h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer-column p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #fafafa;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Subscribe Input Styling */
.subscribe-input {
  display: flex;
  align-items: center;
  border: 1.5px solid #ffffff;
  border-radius: 4px;
  padding: 8px 12px;
  width: fit-content;
}

.subscribe-input input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 4px;
}

.subscribe-input button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* Download Section Styling */
.app-promo {
  font-size: 12px !important;
  color: #7d7d7d !important;
}

.download-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.qr-code img {
  width: 80px;
  height: 80px;
  background-color: white;
  padding: 2px;
}

.app-buttons img {
  width: 110px;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

/* Social Icons */
.social-links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  margin-top: 10px;
}

.social-links i {
  cursor: pointer;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #141414;
  margin-top: 60px;
  padding-top: 24px;
  text-align: center;
}

.footer-bottom p {
  color: #3d3d3d;
  font-size: 14px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: left;
  }
}
