/* MY NAVBAR CSS START HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  position: relative;
}

.nav-links a.active::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: -4px;
  left: 0;
}

/* Right section */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 6px 10px;
  border-radius: 4px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  width: 160px;
}

.search-icon {
  font-size: 14px;
  margin-left: 6px;
  cursor: pointer;
}

/* Icons */
.icon {
  font-size: 18px;
  cursor: pointer;
}

/* ....Hero Section Starts Here ........ */
.hero {
  max-width: 1200px;
  margin: 30px auto;
}

.hero-slide {
  background-color: black;
  border-radius: 4px;
}

.hero-content {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* LEFT */
.hero-text {
  max-width: 50%;
}

.hero-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.hero-brand i {
  font-size: 24px;
}

.hero-text h1 {
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.2;
}

.hero-btn {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

/* RIGHT */
.hero-image img {
  width: 320px;
}

/* Slick dots */
.slick-dots li button:before {
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: red;
}

/* .... MY FlashSales Css Starts Here */
